<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
  <div class="payment-method-title field choice">
    <input type="radio"
           name="payment[method]"
           class="radio"
           data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
    <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
  </div>
  <div class="payment-method-content">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="payment-method-billing-address">
      <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
    </div>

    <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
       <div class="form-group hidden">
          <div class="input-group"><input class="form-control hidden" data-name="cardToken" type="hidden"></div>
       </div>
       <div class="form-group tel required new_charge_card_number">
          <div class="input-group">
             <div class="input-group-prepend"><span class="input-group-text"><i id="card-brand-icon" class="pf pf-credit-card"></i></span></div>
             <input class="form-control string tel required" data-name="cardNumber" data-target="card-brand-icon" placeholder="Card Number" type="tel" autocomplete="off" id="cardNumber">
          </div>
       </div>
       <div class="row">
          <div class="col">
             <div class="form-group tel required new_charge_expiry">
                <div class="input-group"><input class="form-control string tel required" data-name="cardExpiry" placeholder="Expiry" type="tel" autocomplete="off"></div>
             </div>
          </div>
          <div class="col">
             <div class="form-group tel required new_charge_cvc">
                <div class="input-group"><input class="form-control string tel required" data-name="cardCVC" maxlength="3" placeholder="CVC" type="tel" data-fillr="bound" autocomplete="off"></div>
             </div>
          </div>
       </div>

      <!-- ko if: (isVaultEnabled())-->
      <div class="field choice">
        <input type="checkbox"
               name="vault[is_enabled]"
               class="checkbox"
               data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
        <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
          <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
        </label>
      </div>
      <!-- /ko -->
    </form>

    <div class="checkout-agreements-block">
      <!-- ko foreach: $parent.getRegion('before-place-order') -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
    </div>
    <div class="actions-toolbar">
      <div class="primary">
        <button class="action primary checkout"
                type="submit"
                data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                disabled>
          <span data-bind="text: $t('Place Order')"></span>
        </button>
      </div>
    </div>
  </div>
</div>
